* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --basicFont: 'Lato', sans-serif;
  --headersFont: 'Merriweather', 'Georgia', serif;
  --basicFontColor: #AC9664;
  --secondColor: #1c3146;
  --leadColor: #204734;
  --mainBgColor: #DBD9DC;
  max-width: 1600px;
  min-width: 320px;
  font-size: 10px;
  font-family: var(--basicFont);
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

nav {
  position: absolute;
  right: 10vw;
  top: 12vh;
}

nav ul {
  width: 100%;
  font-size: 0;
  text-align: right;
}

nav li {
  display: inline-block;
  padding-right: 3.5vw;
  list-style: none;
}

nav li:last-child {
  padding-right: 0;
}

nav a {
  display: block;
  padding: 1.5rem;
  border-bottom: 1px solid var(--basicFontColor);
  border-left: 1px solid var(--basicFontColor);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  color: var(--basicFontColor);
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all .1s;
}

nav a:hover {
  border-top: 1px solid var(--basicFontColor);
  border-right: 1px solid var(--basicFontColor);
  box-shadow: 0 0 2px 0.5px var(--basicFontColor);
  transform: scale(1.1);
}

div.welcome {
  width: 100%;
  height: 100%;
  background: url('../images/medium.jpg') no-repeat top /cover;
}

div.bg {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 49, 70, .85);
}

.welcome p {
  position: absolute;
  font-family: var(--headersFont);
  color: var(--basicFontColor);
}

.welcome p:first-child {
  bottom: 30vh;
  right: 10vw;
  font-size: 6rem;
}

.welcome p:last-child {
  bottom: 15vh;
  right: 20vw;
  font-size: 4rem;
}

/* .arrowDown {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
} */

.arrowDown i {
  position: absolute;
  top: 80%;
  left: 85%;
  animation: rotate .5s 1s both ease-in, showUp 1s 2s alternate both steps(100) infinite;
  color: var(--basicFontColor);
  border: 3px solid var(--secondColor);
  border-radius: 50%;
  font-size: 5rem;
  transition: .5s;
}

.arrowDown i:hover {
  cursor: pointer;
  animation-play-state: paused;
  text-shadow: 0 0 6px var(--mainBgColor);
}

@keyframes rotate {
  0% {
    transform: rotate(90deg) scale(1.3);
  }
  100% {
    transform: rotate(810deg) scale(1);
  }
}

@keyframes showUp {
  0% {
    box-shadow: 0 0 2px 3px var(--basicFontColor);
  }
  50% {
    box-shadow: 0 0 4px 6px #7F6F4A;
  }
  100% {
    box-shadow: 0 0 6px 9px #E5C885;
  }
}

@media (max-width: 900px) {
  div.welcome {
    background: url('../images/medium.jpg') no-repeat left /cover;
  }
  .welcome p:last-child {
    right: 15vw;
  }
  @media (any-hover: none) {
    nav a {
      border: 1px solid var(--basicFontColor);
    }
    .arrowDown i {
      font-size: 0;
      border: none;
      animation: none;
    }
  }
}

@media (max-width: 700px) {
  nav {
    right: 7vw;
  }
  .welcome p:first-child {
    right: 7vw;
  }
  .welcome p:last-child {
    right: 7vw;
  }
}

@media (max-width: 640px) {
  nav {
    position: fixed;
    right: 0;
    top: 15vh;
    width: 100%;
    /* max-height: 30vh; */
  }
  nav ul {
    /* width: 100%;
    font-size: 0; */
    text-align: center;
  }
  nav li {
    /* display: inline-block; */
    /* display: block;
    width: 100vw; */
    position: absolute;
    width: 30vw;
    line-height: 3rem;
    /* padding-right: 0; */
    /* list-style: none; */
  }
  nav li::after {
    content: "";
    position: absolute;
    width: 4vh;
    height: 4vh;
    border: 1px solid var(--basicFontColor);
  }
  nav li:first-child {
    top: 3vh;
    left: 8vh;
  }
  nav li:first-child::after {
    top: calc(6rem + 2px - 2vh);
    left: calc(30vw - 1px - 2vh);
  }
  nav li:nth-child(2) {
    top: 14vh;
    left: 36vh;
  }
  nav li:nth-child(2)::after {
    top: calc(2px - 2vh);
    left: calc(1px - 2vh);
  }
  nav li:nth-child(3) {
    top: 22vh;
    left: 10vh;
  }
  nav li:nth-child(3)::after {
    top: calc(2px - 2vh);
    left: calc(30vw - 1px - 2vh);
  }
  nav li:last-child {
    /* padding-right: 0; */
    top: 28vh;
    left: 55vh;
  }
  nav li:last-child::after {
    top: calc(1px - 2vh);
    left: calc(30vw - 2px + 2vh);
  }
  nav a {
    /* display: block; */
    /* padding: 1.5rem; */
    /* border-bottom: 1px solid var(--basicFontColor);
    border-left: 1px solid var(--basicFontColor);
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    color: var(--basicFontColor);
    font-size: 1.6rem; */
    /* font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .1s; */
  }
  /* div.welcome {
    width: 100%;
    height: 100%;
    background: url('../images/medium.jpg') no-repeat top /cover;
  } */
  /* div.bg {
    width: 100%;
    height: 100%;
    background-color: rgba(28, 49, 70, .85);
  } */
  /* .welcome p {
    position: absolute;
    font-family: var(--headersFont);
    color: var(--basicFontColor);
  } */
  .welcome p:first-child {
    bottom: 25vh;
    /* right: 10vw; */
    font-size: 5rem;
  }
  .welcome p:last-child {
    /* bottom: 15vh; */
    right: 10vw;
    font-size: 3rem;
  }
  /* .arrowDown {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
} */
  /* .arrowDown i {
    position: absolute;
    top: 80%;
    left: 85%;
    animation: rotate .5s 1s both ease-in, showUp 1s 2s alternate both steps(100) infinite;
    color: var(--basicFontColor);
    border: 3px solid var(--secondColor);
    border-radius: 50%;
    font-size: 5rem;
    transition: .5s;
  }
  .arrowDown i:hover {
    cursor: pointer;
    animation-play-state: paused;
    text-shadow: 0 0 6px var(--mainBgColor);
  } */
}